
<p>
  <%= f.label :content, "Question" %><br />
  <%= f.text_area :cotent, :rows => 3 %><br />
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove Question" %>
</p>
<%= f.fields_for :answers do |builder| %>
    <%= render 'answer_fields', :f => builder %>
<% end %>
<%= f.label :correct_answer, "Correct" %>
  <%= f.text_field :correct_answer %>
